language: python
sudo: required
dist: xenial
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
install:
  - pip install -r dev_requirements.txt
script: pytest tests
env:
  - FLASK=1.0.2
  - FLASK=0.12.4
install:
  - pip install Flask==$FLASK
  - pip install -r dev_requirements.txt
script: nosetests
